<!DOCTYPE html>
<html>
<head>
<title>Checker</title>
<link rel="stylesheet" type="text/css" href="../css/checker.css"/>
<script type="text/javascript" src="../js/jquery/jquery.js"></script>
<script type="text/javascript" src="../js/checker.js"></script>
<script type="text/javascript">
$("document").ready(function(){
    $game=$.checker();
    $game.init();
});
</script>
</head>
<body>
<div id="mainview">
</div>
<button style="position:absolute;left:800px;top:0px" onclick='$game.move("ico0",1);'>move</button>
</body>
</html>

